# Final Project Proposal

Ella Zaputil  
4/2/2025

## Data Source 1

Downloaded "IMDB Movies Dataset" CSV file from Kaggle

In [154]:
#Import needed libraries
import pandas as pd

#Read in CSV file as data frame
imdb_df = pd.read_csv("imdb_top_1000.csv", encoding = 'utf-8')

#Display IMDB data frame
display(imdb_df)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [156]:
#Drop Poster_Link, Certificate, Metascore, Overview, No_Of_Votes columns. They are not valuable to my analysis.
#Gross revenue will be collected from web scraping later
imdb_df = imdb_df.drop(columns = ["Poster_Link", "Certificate", "Meta_score", "Overview", "No_of_Votes", "Gross"])
display(imdb_df)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen
996,Giant,1956,201 min,"Drama, Western",7.6,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed
998,Lifeboat,1944,97 min,"Drama, War",7.6,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle

In [158]:
#Rename columns to make more sense for overall analysis
#Series_Title -> Movie Title
#Released_Year -> Release Year

imdb_df = imdb_df.rename(columns = {'Series_Title':'Movie Title', 'Released_Year':'Release Year'})
display(imdb_df)

,Movie Title,Release Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen
996,Giant,1956,201 min,"Drama, Western",7.6,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed
998,Lifeboat,1944,97 min,"Drama, War",7.6,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle

In [160]:
#Analyze data types
print(imdb_df.dtypes)

Movie Title      object
Release Year     object
Runtime          object
Genre            object
IMDB_Rating     float64
Director         object
Star1            object
Star2            object
Star3            object
Star4            object
dtype: object

In [162]:
#Clean data, convert needed data types 

#Release year: object -> integer
imdb_df['Release Year'] = pd.to_numeric(imdb_df['Release Year'], errors = 'coerce').astype('Int64')

#Runtime: object -> integer
imdb_df['Runtime'] = imdb_df['Runtime'].str.replace(' min', '').astype('Int64')

#Recheck data types
print(imdb_df.dtypes)

Movie Title      object
Release Year      Int64
Runtime           Int64
Genre            object
IMDB_Rating     float64
Director         object
Star1            object
Star2            object
Star3            object
Star4            object
dtype: object

In [164]:
display(imdb_df)

,Movie Title,Release Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,175,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,202,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,96,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,"Comedy, Drama, Romance",7.6,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen
996,Giant,1956,201,"Drama, Western",7.6,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker
997,From Here to Eternity,1953,118,"Drama, Romance, War",7.6,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed
998,Lifeboat,1944,97,"Drama, War",7.6,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix
999,The 39 Steps,1935,86,"Crime, Mystery, Thriller",7.6,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle

## Data Source 2

Scraped data from https://www.the-numbers.com/movie/budgets/all  
Scraped data for 1-100, 600-800 ranked movies

In [28]:
#Import needed libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager 

# needed to randomize time on the page and scrolling
import time
import random

In [123]:
# initialize the Selenium web driver (Chrome in this case)
browser = webdriver.Chrome()

#Create lists to store data
rankings = []
release_dates = []
movies = []
production_budgets = []
domestic_gross = []
worldwide_gross = []

base_url = 'https://www.the-numbers.com/movie/budgets/all'
browser.get(base_url)  # Open the page in the browser

wait_time = random.uniform(3, 10)  # random wait time between 3 and 10 seconds
time.sleep(wait_time)

# Find the table containing the data
table = browser.find_element(By.XPATH, "//table")

# Get the rows of the table (skip the first row, which contains the headers)
for tr in table.find_elements(By.TAG_NAME, 'tr')[1:]:
    cells = tr.find_elements(By.TAG_NAME, 'td')

    # Extract the relevant data from each row and append to the lists
    if len(cells) > 1:  # Make sure it's not an empty row
        ranking = cells[0].text.strip()
        release_date = cells[1].text.strip()
        movie = cells[2].text.strip()
        production_budget = cells[3].text.strip().replace(',', '').replace('$','')  # Remove commas and $
        domestic = cells[4].text.strip().replace(',', '').replace('$','')  # Remove commas and $
        worldwide = cells[5].text.strip().replace(',', '').replace('$','')  # Remove commas and $

        # Append the cleaned data to the corresponding lists
        rankings.append(ranking)
        release_dates.append(release_date)
        movies.append(movie)            
        production_budgets.append(production_budget)
        domestic_gross.append(domestic)
        worldwide_gross.append(worldwide)
    
# Close the browser after scraping
browser.quit()

# Convert the lists into a pandas DataFrame
numbers_data = {
    'Ranking': rankings,
    'Release Date': release_dates,
    'Movie': movies,
    'Production Budget': production_budgets,
    'Domestic Gross': domestic_gross,
    'Worldwide Gross': worldwide_gross
}

numbers_df = pd.DataFrame(numbers_data)
display(numbers_df)

,Ranking,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,533200000,936662225,2056046835
1,2,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2748242781
2,3,"Dec 9, 2022",Avatar: The Way of Water,400000000,684075767,2320250281
3,4,"May 21, 2025",Mission: Impossibleâ€”The Final Reckoning,400000000,0,0
4,5,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
...,...,...,...,...,...,...
95,96,"Jul 28, 2021",Jungle Cruise,200000000,116987516,210469803
96,97,"Jun 17, 2011",Green Lantern,200000000,116601172,219535492
97,98,"Jun 13, 2023",The Flash,200000000,108167507,271467507
98,99,"Nov 6, 2024",Red One,200000000,97000759,185884173
99,100,"Apr 6, 2022",Fantastic Beasts: The Secrets of Dumbledore,200000000,95850844,407150844

In [131]:
browser = webdriver.Chrome()

#Create lists to store data
rankings2 = []
release_dates2 = []
movies2 = []
production_budgets2 = []
domestic_gross2 = []
worldwide_gross2 = []

base_url = 'https://www.the-numbers.com/movie/budgets/all'
page_number = 101

while page_number < 1901: 
    next_url = f"{base_url}/{page_number}"  # Construct the URL for each page
    browser.get(next_url)  # Open the page in the browser
    
    wait_time = random.uniform(3, 10)  # random wait time between 3 and 10 seconds
    time.sleep(wait_time)

    # Find the table containing the data
    table = browser.find_element(By.XPATH, "//table")

    # Get the rows of the table (skip the first row, which contains the headers)
    for tr in table.find_elements(By.TAG_NAME, 'tr')[1:]:
        cells = tr.find_elements(By.TAG_NAME, 'td')

        # Extract the relevant data from each row and append to the lists
        if len(cells) > 1:  # Make sure it's not an empty row
            ranking = cells[0].text.strip()
            release_date = cells[1].text.strip()
            movie = cells[2].text.strip()
            production_budget = cells[3].text.strip().replace(',', '').replace('$','')  # Remove commas and $
            domestic = cells[4].text.strip().replace(',', '').replace('$','')  # Remove commas and $
            worldwide = cells[5].text.strip().replace(',', '').replace('$','')  # Remove commas and $

            # Append the cleaned data to the corresponding lists
            rankings2.append(ranking)
            release_dates2.append(release_date)
            movies2.append(movie)            
            production_budgets2.append(production_budget)
            domestic_gross2.append(domestic)
            worldwide_gross2.append(worldwide)

    page_number += 100

# Close the browser after scraping
browser.quit()

# Convert the lists into a pandas DataFrame
numbers_df2 = pd.DataFrame({
    'Ranking': rankings2,
    'Release Date': release_dates2,
    'Movie': movies2,
    'Production Budget': production_budgets2,
    'Domestic Gross': domestic_gross2,
    'Worldwide Gross': worldwide_gross2
})

numbers_df = pd.concat([numbers_df, numbers_df2], ignore_index = True)
display(numbers_df)

,Ranking,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,533200000,936662225,2056046835
1,2,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2748242781
2,3,"Dec 9, 2022",Avatar: The Way of Water,400000000,684075767,2320250281
3,4,"May 21, 2025",Mission: Impossibleâ€”The Final Reckoning,400000000,0,0
4,5,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
...,...,...,...,...,...,...
395,796,"Jun 25, 2010",Grown Ups,75000000,162001186,272222420
396,797,"Sep 20, 2004",Shark Tale,75000000,161412000,371741123
397,798,"Jul 14, 2000",X-Men,75000000,157299717,296872367
398,799,"Mar 1, 2023",Creed III,75000000,156248615,276148615
399,800,"Jun 27, 2008",Wanted,75000000,134508551,342416460

In [133]:
#Check data types
print(numbers_df.dtypes)

Ranking              object
Release Date         object
Movie                object
Production Budget    object
Domestic Gross       object
Worldwide Gross      object
dtype: object

In [135]:
#Change needed data types

#Ranking: object -> integer
numbers_df['Ranking'] = pd.to_numeric(numbers_df['Ranking'], errors = 'coerce').astype('Int64')

#Release Date: object -> date
numbers_df['Release Date'] = pd.to_datetime(numbers_df['Release Date'], format='%b %d, %Y')

#Production Budget: object -> integer
numbers_df['Production Budget'] = pd.to_numeric(numbers_df['Production Budget'], errors = 'coerce').astype('Int64')

#Domestic Gross: object -> integer
numbers_df['Domestic Gross'] = pd.to_numeric(numbers_df['Domestic Gross'], errors = 'coerce').astype('Int64')

#Production Budget: object -> integer
numbers_df['Worldwide Gross'] = pd.to_numeric(numbers_df['Worldwide Gross'], errors = 'coerce').astype('Int64')

#Recheck data types
print(numbers_df.dtypes)

Ranking                       Int64
Release Date         datetime64[ns]
Movie                        object
Production Budget             Int64
Domestic Gross                Int64
Worldwide Gross               Int64
dtype: object

In [137]:
#Extract the year from release date to use to join
numbers_df['Release Year'] = numbers_df['Release Date'].dt.year

In [139]:
#Rename Movie column to match IMDB data frame
numbers_df.rename(columns={'Movie': 'Movie Title'}, inplace=True)

display(numbers_df)

,Ranking,Release Date,Movie Title,Production Budget,Domestic Gross,Worldwide Gross,Release Year
0,1,2015-12-16,Star Wars Ep. VII: The Force Awakens,533200000,936662225,2056046835,2015
1,2,2019-04-23,Avengers: Endgame,400000000,858373000,2748242781,2019
2,3,2022-12-09,Avatar: The Way of Water,400000000,684075767,2320250281,2022
3,4,2025-05-21,Mission: Impossibleâ€”The Final Reckoning,400000000,0,0,2025
4,5,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,2011
...,...,...,...,...,...,...,...
395,796,2010-06-25,Grown Ups,75000000,162001186,272222420,2010
396,797,2004-09-20,Shark Tale,75000000,161412000,371741123,2004
397,798,2000-07-14,X-Men,75000000,157299717,296872367,2000
398,799,2023-03-01,Creed III,75000000,156248615,276148615,2023
399,800,2008-06-27,Wanted,75000000,134508551,342416460,2008

## Integrated Dataset
Horizontally integrate imdb_df and numbers_df

In [166]:
integrated_df = imdb_df.merge(numbers_df, on = ["Movie Title", "Release Year"], how = 'inner')
display(integrated_df)

,Movie Title,Release Year,Runtime,Genre,IMDB_Rating,Director,Star1,Star2,Star3,Star4,Ranking,Release Date,Production Budget,Domestic Gross,Worldwide Gross
0,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",8.9,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,557,2003-12-17,94000000,381472917,1123837908
1,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Action, Adventure, Drama",8.8,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,562,2001-12-19,93000000,318651105,894292756
2,The Lord of the Rings: The Two Towers,2002,179,"Action, Adventure, Drama",8.7,Peter Jackson,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,559,2002-12-18,94000000,345115396,921711177
3,The Departed,2006,151,"Crime, Drama, Thriller",8.5,Martin Scorsese,Leonardo DiCaprio,Matt Damon,Jack Nicholson,Mark Wahlberg,584,2006-10-06,90000000,132384315,289660619
4,The Lion King,1994,88,"Animation, Adventure, Drama",8.5,Roger Allers,Rob Minkoff,Matthew Broderick,Jeremy Irons,James Earl Jones,768,1994-06-15,79300000,423981226,988389726
5,Avengers: Endgame,2019,181,"Action, Adventure, Drama",8.4,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,2,2019-04-23,400000000,858373000,2748242781
6,Avengers: Infinity War,2018,149,"Action, Adventure, Sci-Fi",8.4,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,9,2018-04-25,300000000,678815482,2048359754
7,The Dark Knight Rises,2012,164,"Action, Adventure",8.4,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,40,2012-07-19,230000000,448139099,1082228107
8,Shutter Island,2010,138,"Mystery, Thriller",8.2,Martin Scorsese,Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,Ben Kingsley,703,2010-02-19,80000000,128012934,299461782
9,Toy Story 3,2010,103,"Animation, Adventure, Comedy",8.2,Lee Unkrich,Tom Hanks,Tim Allen,Joan Cusack,Ned Beatty,69,2010-06-18,200000000,415004880,1068879522
10,A Beautiful Mind,2001,135,"Biography, Drama",8.2,Ron Howard,Russell Crowe,Ed Harris,Jennifer Connelly,Christopher Plummer,771,2001-12-21,78000000,170708996,317668058
11,Finding Nemo,2003,100,"Animation, Adventure, Comedy",8.1,Andrew Stanton,Lee Unkrich,Albert Brooks,Ellen DeGeneres,Alexander Gould,558,2003-05-30,94000000,380529370,936094852
12,The Avengers,2012,143,"Action, Adventure, Sci-Fi",8.0,Joss Whedon,Robert Downey Jr.,Chris Evans,Scarlett Johansson,Jeremy Renner,43,2012-04-25,225000000,623357910,1515100211
13,Blood Diamond,2006,143,"Adventure, Drama, Thriller",8.0,Edward Zwick,Leonardo DiCaprio,Djimon Hounsou,Jennifer Connelly,Kagiso Kuypers,506,2006-12-08,100000000,57377916,171377916
14,Cinderella Man,2005,144,"Biography, Drama, History",8.0,Ron Howard,Russell Crowe,RenÃ©e Zellweger,Craig Bierko,Paul Giamatti,625,2005-06-03,88000000,61649911,105021488
15,The Incredibles,2004,115,"Animation, Action, Adventure",8.0,Brad Bird,Craig T. Nelson,Samuel L. Jackson,Holly Hunter,Jason Lee,566,2004-10-22,92000000,261441092,631441092
16,X-Men: Days of Future Past,2014,132,"Action, Adventure, Sci-Fi",7.9,Bryan Singer,Patrick Stewart,Ian McKellen,Hugh Jackman,James McAvoy,81,2014-05-21,200000000,233921534,747862775
17,Children of Men,2006,109,"Adventure, Drama, Sci-Fi",7.9,Alfonso CuarÃ³n,Julianne Moore,Clive Owen,Chiwetel Ejiofor,Michael Caine,784,2006-12-25,76000000,35552383,69845011
18,Toy Story 2,1999,92,"Animation, Adventure, Comedy",7.9,John Lasseter,Ash Brannon,Lee Unkrich,Tom Hanks,Tim Allen,573,1999-11-19,90000000,245852179,511358276
19,Captain America: Civil War,2016,147,"Action, Adventure, Sci-Fi",7.8,Anthony Russo,Joe Russo,Chris Evans,Robert Downey Jr.,Scarlett Johansson,26,2016-04-22,250000000,408084349,1151899586
20,Toy Story 4,2019,100,"Animation, Adventure, Comedy",7.8,Josh Cooley,Tom Hanks,Tim Allen,Annie Potts,Tony Hale,68,2019-06-20,200000000,434038008,1071177215
21,The Girl with the Dragon Tattoo,2011,158,"Crime, Drama, Mystery",7.8,David Fincher,Daniel Craig,Rooney Mara,Christopher Plummer,Stellan SkarsgÃ¥rd,588,2011-12-20,90000000,102515793,239373970
22,The Hobbit: The Desolation of Smaug,2013,161,"Adventure, Fantasy",7.8,Peter Jackson,Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,31,2013-12-12,250000000,258241522,959358436
23,The Hobbit: An Unexpected Journey,2012,169,"Adventure, Fantasy",7.8,Peter Jackson,Martin Freeman,Ian McKellen,Richard Armitage,Andy Serkis,77,2012-12-11,200000000,303003568,1014938545
24,Avatar,2009,162,"Action, Adventure, Fantasy",7.8,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,38,2009-12-17,237000000,785221649,2923706026
25,Cast Away,2000,143,"Adventure, Drama, Romance",7.8,Robert Zemeckis,Tom Hanks,Helen Hunt,Paul Sanchez,Lari White,634,2000-12-22,85000000,233632142,427230516
26,Titanic,1997,194,"Drama, Romance",7.8,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,63,1997-12-18,200000000,674460013,2223048786
27,Skyfall,2012,143,"Action, Adventure, Thriller",7.7,Sam Mendes,Daniel Craig,Javier Bardem,Naomie Harris,Judi Dench,76,2012-10-26,200000000,304360277,1110526981
28,Zodiac,2007,157,"Crime, Drama, Mystery",7.7,David Fincher,Jake Gyllenhaal,Robert Downey Jr.,Mark Ruffalo,Anthony Edwards,671,2007-03-02,85000000,33080084,83027938
29,Tangled,2010,100,"Animation, Adventure, Comedy",7.7,Nathan Greno,Byron Howard,Mandy Moore,Zachary Levi,Donna Murphy,23,2010-11-24,260000000,200821936,582440151
30,The Bourne Supremacy,2004,108,"Action, Mystery, Thriller",7.7,Paul Greengrass,Matt Damon,Franka Potente,Joan Allen,Brian Cox,638,2004-07-23,85000000,176087450,311001124
31,Black Hawk Down,2001,144,"Drama, History, War",7.7,Ridley Scott,Josh Hartnett,Ewan McGregor,Tom Sizemore,Eric Bana,545,2001-12-28,95000000,108638745,159691085
32,Road to Perdition,2002,117,"Crime, Drama, Thriller",7.7,Sam Mendes,Tom Hanks,Tyler Hoechlin,Rob Maxey,Liam Aiken,709,2002-07-12,80000000,104054514,183354514
33,The Fifth Element,1997,126,"Action, Adventure, Sci-Fi",7.7,Luc Besson,Bruce Willis,Milla Jovovich,Gary Oldman,Ian Holm,551,1997-05-09,95000000,63570862,263892271
34,Incredibles 2,2018,118,"Animation, Action, Adventure",7.6,Brad Bird,Craig T. Nelson,Holly Hunter,Sarah Vowell,Huck Milner,66,2018-06-15,200000000,608581744,1242805359
35,Sherlock Holmes,2009,128,"Action, Adventure, Mystery",7.6,Guy Ritchie,Robert Downey Jr.,Jude Law,Rachel McAdams,Mark Strong,575,2009-12-25,90000000,209028679,498438212
36,Harry Potter and the Half-Blood Prince,2009,153,"Action, Adventure, Family",7.6,David Yates,Daniel Radcliffe,Emma Watson,Rupert Grint,Michael Gambon,29,2009-07-15,250000000,302854063,926492031
37,Enemy at the Gates,2001,131,"Drama, History, War",7.6,Jean-Jacques Annaud,Jude Law,Ed Harris,Joseph Fiennes,Rachel Weisz,660,2001-03-16,85000000,51396781,96971293
38,Mulan,1998,88,"Animation, Adventure, Family",7.6,Tony Bancroft,Barry Cook,Ming-Na Wen,Eddie Murphy,BD Wong,586,1998-06-19,90000000,120620254,303500000
39,Die Hard: With a Vengeance,1995,128,"Action, Adventure, Thriller",7.6,John McTiernan,Bruce Willis,Jeremy Irons,Samuel L. Jackson,Graham Greene,591,1995-05-19,90000000,100012499,366101666

In [168]:
integrated_df.to_csv('edzaputil_InitialIntegratedData.csv', encoding='utf-8')